@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans";
}

/* Shared styles */


/* dark-01 */
.black {
    color: rgba(19, 19, 19, 1);
}

/* dark-02 */
.gray {
    color: rgba(66, 66, 66, 1);
}

/* dark-03 */
.light-gray {
    color: rgba(114, 114, 114, 1);
}



.section-title {
    font-size: 3rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}


.section-para {
    font-size: 1rem;
    line-height: 1.625;
    color: rgba(114, 114, 114, 1);
}

.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
    background-color: #FF900E;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
}


/* Header style */

header {
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 80px;
}

/* Navbar styles */

.nav-bar {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 24px 60px 0 120px;
    margin-bottom: 80px;
}

.nav-items {
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.nav-item {
    list-style-type: none;
}

.nav-item a {
    font-size: 1.125rem;
    line-height: 1.45;
    text-decoration: none;
}


/* Banner designs */

.banner {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    max-width: 860px;
    margin: 24px auto;
}

.section-para p {
    margin-bottom: 32px;
    max-width: 868px;
}

.banner button {
    margin-bottom: 48px;
}

.banner img {
    border-radius: 8px;
    margin-bottom: 48px;
    max-width: 90%;
}


/* Our features section */

.our-features {
    gap: 64px;
    align-items: center;
    justify-content: center;
    margin: 0 200px 120px 200px;
}

.teams {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.teams img {
    border-radius: 8px;
}

.feature-list h3 {
    margin-bottom: 24px;
}

.feature-list p {
    margin-bottom: 32px;
}

.feature-color {
    color: #FF900E;
}


/* Loved features section */

.enjoyable-features {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin: 0 120px 120px 120px;
}


.loveable-features-info h3 {
    border-left: 5px solid #FF900E;
    padding-left: 16px;
    margin-bottom: 24px;
}

#feature-desc {
    margin-bottom: 24px;
}

.card {
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 8px 4px 16px 0 rgba(255, 255, 255, 1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-para {
    line-height: 1.625;
}

#floating-btn {
    position: relative;
    left: -92px;
    top: -92px;
}

.btn-title {
    font-size: 4rem;
    font-weight: bold;
}

.btn-para {
    font-size: 1.5rem;
    line-height: 1.6;
}


/* Responsive design */

/* Device width less than 576px */

@media screen and (max-width: 576px) {
    html {
        font-size: 50%;
    }

    .nav-items {
        flex-direction: column;
        gap: 8px;
    }

    .nav-bar,
    .teams {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 16px;
        padding: 16px;
        margin-bottom: 8px;
    }


    .our-features {
        flex-direction: column;
        margin: 0 0 32px 0;
        padding: 0 16px;
    }

    .feature-list {
        text-align: center;
    }

    .feature-list h3 {
        margin-bottom: 8px;
    }
    
    .feature-list p {
        margin-bottom: 8px;
    }

    .enjoyable-features {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 16px;
        gap: 42px;
    }

    .section-title {
        margin-bottom: 4px;
    }

    .card {
        margin-bottom: 8px;
    }

    .women-architect img {
        max-width: 100%;
    }

    #floating-btn {
        display: none;
    }

}


/* device width between 576px and 768px */

@media screen and (min-width: 576px) and (max-width: 768px) {
    html {
        font-size: 75%;
    }

    .nav-items {
        flex-direction: column;
        gap: 8px;
    }

    .nav-bar {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 16px;
        padding: 16px;
    }

    .our-features {
        flex-direction: column;
        margin: 0 8px 32px 8px;
        padding: 0 16px;
    }

    .teams img {
        max-width: 300px;
    }

    .feature-list {
        text-align: center;
    }

     .enjoyable-features {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 16px;
        gap: 42px;
    }

    .section-title {
        margin-bottom: 4px;
    }

    .card-container {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        margin-bottom: 8px;
    }

    .women-architect img {
        max-width: 100%;
    }

    #floating-btn {
        padding: 16px 32px;
        left: 8px;
        top: -128px;
    }

    .btn-title {
        font-size: 1.5rem;
    }

    .btn-para {
        font-size: 1rem;
    }
}


/* Device width between 768px and 992px */

@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 100%;
    }

    .nav-items {
        flex-direction: row;
        gap: 12px;
    }

    .nav-bar {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        margin-bottom: 24px;
    }

    .section-title {
        font-size: 2.5rem;
    }

    .our-features {
        flex-direction: column;
    }

    .feature-list {
        text-align: center;
    }

    .enjoyable-features {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 16px;
        gap: 42px;
    }

    .section-title {
        margin-bottom: 4px;
    }

    .card-container {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        margin-bottom: 8px;
    }

    .women-architect img {
        max-width: 100%;
    }

    #floating-btn {
        position: relative;
        left: -200px;
        padding: 20px 32px;
    }

    .btn-title {
        font-size: 1.5rem;
    }

    .btn-para {
        font-size: 1rem;
    }
}